asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-colorfield
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-base64
drf-extra-fields
filetype
gunicorn
idna
oauthlib
Pillow
psycopg2
psycopg2-binary
pycparser
PyJWT
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
urllib3
